---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Conventional Commits

on:
  pull_request_target:
    branches:
      - master

jobs:
  main:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Verify
        uses: webiny/action-conventional-commits@v1.3.0
