---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Conventional Commits

on:
  pull_request_target:
    branches:
      - master

jobs:
  main:
    name: Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Verify
        uses: webiny/action-conventional-commits@v1.3.0
