---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Helm lint and test chart

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - master
    paths:
      - .github/**
      - charts/mailu/**
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.10.0

      - name: Install dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm dependency build charts/mailu

      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --target-branch ${{ github.event.repository.default_branch }} --check-version-increment=false

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          config: kind-cluster.yaml

      - name: Install Calico
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          kubectl create -f https://raw.githubusercontent.com/projectcalico/calico/v3.24.5/manifests/calico.yaml
          kubectl -n kube-system rollout status daemonset/calico-node --timeout=120s
          kubectl -n kube-system rollout status deployment calico-kube-controllers --timeout=120s

      - name: Fix CoreDNS upstream resolver
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          kubectl -n kube-system get configmaps coredns -o yaml | sed 's/forward . \/etc\/resolv.conf/forward . 8.8.8.8:53/g' | kubectl apply -f -
          kubectl -n kube-system rollout restart deployment coredns
          kubectl -n kube-system rollout status deployment coredns --timeout=120s

      - name: Run chart-testing (install)
        id: install
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --debug --config ct.yaml

  check-readme-update:
    runs-on: ubuntu-latest
    needs: lint-and-test
    steps:
      - name: Install readme-generator-for-helm
        run: npm install -g @bitnami/readme-generator-for-helm

      - name: Checkout mailu/helm-charts
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Execute readme-generator-for-helm
        run: |
          echo "Updating README.md for mailu chart"
          readme-generator --values "charts/mailu/values.yaml" --readme "charts/mailu/README.md" --schema "/tmp/schema.json"
          git diff --exit-code --name-status charts/mailu/README.md || {
            echo "README update is missing. This should have been prevented by pre-commit hook."
            exit 1
          }
