---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "[secops] Trivy"

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - master
    paths:
      - .github/**
      - charts/mailu/**
  push:
    branches:
      - master
    paths:
      - charts/mailu/**
      - .github/workflows/trivy.yaml
      - .trivy.yaml
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: {}

permissions:
  security-events: write

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.10.0

      - name: Install dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm dependency build charts/mailu

      - name: Set up python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: '3.13'

      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          trivy-config: '.trivy.yaml'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3
        with:
          sarif_file: 'trivy-results.sarif'
