---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "[secops] Trivy"

# Controls when the workflow will run
on:
  pull_request:
    branches:
      - master
    paths:
      - .github/**
      - charts/mailu/**
  push:
    branches:
      - master
    paths:
      - charts/mailu/**
      - .github/workflows/trivy.yaml
      - .trivy.yaml
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: {}

permissions:
  security-events: write

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          version: v3.10.0

      - name: Install dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm dependency build charts/mailu

      - name: Set up python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.14'

      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          trivy-config: '.trivy.yaml'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@755f44910c12a3d7ca0d8c6e42c048b3362f7cec # v3
        with:
          sarif_file: 'trivy-results.sarif'
